.ant-input {
    background-color: #000 !important;
    color: #fff !important;
  }
  
  .ant-input:hover {
    background-color: #000 !important;
  }
  
  .ant-input:focus {
    outline: none !important;
    border-color: #4096ff !important;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
  }
  
  .ant-select-selector {
    background-color: #000 !important;
    color: #fff !important;
  }
  
  .ant-select-selector:hover {
    background-color: #000 !important;
  }
  
  .ant-select-focused .ant-select-selector {
    outline: none !important;
    border-color: #4096ff !important;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2) !important;
  }
  