body {
  font-family: 'Roboto', sans-serif;
}


.journal-uploads-carousel {
  width: 80%;
  margin: 0 auto;
}

.journal-uploads-carousel .slick-prev,
.journal-uploads-carousel .slick-next {
  z-index: 1;
}

.journal-uploads-carousel .slick-prev {
  left: 10px;
}

.journal-uploads-carousel .slick-next {
  right: 10px;
}
/* 
.ant-segmented-item-selected .ant-segmented-item-label{
  background: rgb(38, 38, 51);
  color: #fff;
} */

.ant-card-head{
  background: #1a1c24 !important;color: #fff !important; 
}